@import 'mixins/mixins';

@include b(dialogForm) {
  width: 100%;
  min-height: 200px;
  // background-color: pink;

  @include m(line) {
    text-align: center;
  }
}

.el-range-separator {
  font-size: 10px !important;
  width: 10% !important;
}
