@import 'mixins/mixins';

@include b(filter) {
  @include e(title) {
    width: 100%;
    padding-left: 14px;
    text-align: left;

    @include m(icon) {
      margin-right: 4px;
    }
  }

  @include e(content) {
    width: 100%;
    margin-bottom: 10px;
    padding: 14px 14px 0px 14px;

    @include m(line) {
      line-height: 40px;
      text-align: center;
      overflow: hidden;
    }
  }

  @include e(item) {
    min-height: 40px;
    margin-bottom: 18px;
    display: flex;
    > span {
      flex: none;
      height: 40px;
      overflow: hidden;
      color: rgba(0, 0, 0, 0.85);
      font-size: 14px;
      line-height: 40px;
      text-align: left;
    }

    @include m(inner) {
      flex: 1 !important;
    }
  }
}

.el-select {
  width: 100%;
  .el-tag {
    max-width: 50% !important;
  }
}
.el-input--suffix .el-input__inner {
  padding-right: 15px;
}
.el-select__tags {
  width: 20px;
  flex-wrap: nowrap !important;
}
.button-col {
  display: flex;
}
.el-date-editor {
  width: 100% !important;
  .el-input__icon {
    width: 15px;
  }
  .el-range-input {
    font-size: 10px !important;
  }
  .el-range-separator {
    font-size: 10px !important;
    width: 10% !important;
  }
  .el-range__close-icon {
    width: 15px !important;
  }
}
