@import 'mixins/mixins';

@include b(table) {
  width: 100%;
  height: 100%;
  background-color: #fff;
  margin-top: 20px;
  box-sizing: content-box;

  @include e(header) {
    width: 100%;
    height: 48px;
    line-height: 48px;
    background-color: #fff;
    // border-bottom: 1px solid #eee;
    padding-left: 14px;

    .el-button {
      padding: 7px 10px !important;
      font-size: 12px !important;
    }
  }

  @include e(content) {
    height: 100%;
    box-sizing: content-box;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #eee;
  }

  @include e(tableHeader) {
    background-color: #fafafa !important;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
  }
}

.el-table--border::after,
.el-table--group::after,
.el-table::before {
  content: '';
  position: absolute;
  z-index: 1;
  background-color: #fff !important;
}
